      <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="navbar-brand">
              <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="navbar-brand">
              <a class="nav-link" href="/posts">Posts</a>
            </li>
            <li class="navbar-brand">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="navbar-brand">
              <a class="nav-link" href="/testimonials">Depoimentos</a>
            </li>
            <li class="navbar-brand">
              <a class="nav-link" href="/servicos">Serviços</a>
            </li>
            <li class="navbar-brand">
              <a class="nav-link" href="/temps">Temperatura</a>
            </li>
            <li class="navbar-brand">
              <a class="nav-link" href="/luzs">Luz</a>
            </li>
        </div>


        <li class="nav-item dropdown navbar-brand">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Administração
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/admin/posts">Posts</a>
              <a class="dropdown-item" href="/admin/projects">Projects</a>
              <a class="dropdown-item" href="/admin/testimonials">Depoimentos</a>
              <a class="dropdown-item" href="/admin/temps">Temperatura</a>
              <a class="dropdown-item" href="/admin/luzs">Luz</a>
            </div>
        </li>


        <% if (locals.loggedUser) { %>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= locals.loggedUser.email %>
              </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/auth/logout">Sair</a>
            </div>
            </li>
          </ul>
        <% } %> 

      </nav>