      <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="navbar-brand">
              <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="navbar-brand">
              <a class="nav-link" href="/posts">Posts</a>
            </li>
            <li class="navbar-brand">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="navbar-brand">
              <a class="nav-link" href="#">Contato</a>
            </li>
            <li class="navbar-brand">
              <a class="nav-link" href="#">Chat</a>
            </li>
          </ul>
        </div>
        
        <div class="navbar-direito">
          <ul class="navbar-nas">
            <li class="cadastro">
              <a class="nav-link" href="#">Login</a>
              <a class="nav-link" href="#">Cadastrar</a>
            </li>
          </ul>
        <div>

      </nav>