.card-img-top{
    border-radius: 5px;
}
.card{
    border-radius: 5px;
}
.card-title{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.card-text{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.btn{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand{
    background-color: rgba(83, 83, 83, 0.267);
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.cadastro{
    font-size: 10px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-direito {
    justify-content: flex-end;
}

.post-detail img{
    width: 600px;
    height: 300px;
}

.post-detail h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.links{
    color: black;
}

.card-img-top{
    width: 300px;
    height: 200px;
}

.testimonial-description {
    display: block;
    margin-bottom: 10px;
}

.testimony {
    margin-bottom: 40px;
}

.servicosnome{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
}

.servicosdescricao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
}

.mb-3 a{
    text-decoration: none;
}

.nav-link{
    color: black;
}