<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Temperaturas</title>
  <%- include('../../imports'); -%>
</head>
<body>
  <%- include('../../navbar'); -%>
  
  <div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Novo Sensor</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <form action="create" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="tempNome">Nome</label>
                <input name="nome" type="text" class="form-control" id="tempNome" placeholder="Nome">
            </div>

            <div class="form-group">
                <label for="tempData1">Data</label>
                <input name="data1" type="text" class="form-control" id="tempData1" placeholder="Data">
            </div>

            <div class="form-group">
                <label for="tempValor1">Temperatura</label>
                <input name="valor1" type="text" class="form-control" id="tempValor1" placeholder="Valor">
            </div>

            <div class="form-group">
                <label for="tempData2">Data</label>
                <input name="data2" type="text" class="form-control" id="tempData2" placeholder="Data">
            </div> 

            <div class="form-group">
                <label for="tempValor2">Umidade</label>
                <input name="valor2" type="text" class="form-control" id="tempValor2" placeholder="Valor">
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>

          </form>
        </div>
    </div>

  </div>
</body>
</html>
